body{
  font-family: Arial;
  color:#212121;
}
form{
  font-size: 1em;
  padding: 20px;
  width: 700px;
  background-color: #C5CAE9;
  margin: 0 auto;
  border-radius: 10px;
}
form input{
  font-size:1em;
  padding: 5px;
  width: 90px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}
input:nth-child(2){
  border: 1px solid #F44336;
}
input:nth-child(4){
  border: 1px solid #212121;
}
#start-btn{
  margin: 0 auto;
  width: 110px;
  height: 40px;
  background-color: #F44336;
  color: #fff;
  font-size: 1em;
  border: 1px solid #F44336;
  border-radius: 3px;

}
#start-btn:hover{
  background-color: #fff;
  color: #F44336;
}
h1,#player-turn{
  text-align: center;
}

.player-2{
  color: #212121;
}
.player-1{
  color: #F44336;
}
#player-turn{
  display: none;
}

.game-board{
  display: none;
  position: relative;
  width: 700px;
  height: 600px;
  padding: 20px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 50px;
  background-color: #C5CAE9;
}
.cell{
  float:left;
  border-radius: 50px;
  margin: 8px;
  width: 84px;
  height: 84px;
  background-color: #fff;
  transition: 1s;
}
.col{
  border:10px solid #C5CAE9;;
  position: absolute;
  box-sizing: border-box;
  width: 110px;
  top:15px;
  height: 610px;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.col:hover{
  opacity: 1;
  border-color: #b1b6d5;;
}
.black{
  background-color: #212121;
}
.red{
  background-color: #F44336;
}

.col0{left: 15px;}
.col1{left: 115px;}
.col2{left: 215px;}
.col3{left: 315px;}
.col4{left: 415px;}
.col5{left: 515px;}
.col6{left: 615px;}
